@font-face {
  font-family: "SpeedeeCondGreek";
  src: url("../Fonts/SpeedeeCondGreek-Regular.otf") format("opentype"),
    url("../Fonts/SpeedeeGreek-Bold.otf") format("opentype");
}
:root {
  --default-font-family: "SpeedeeCondGreek", sans-serif;
  --primary-color: #000;
  --Secondary-color: #fff;
}
/**CSS RESET**/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../Assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--default-font-family);
  font-size: 1rem;
  /* overflow: hidden; */
}

main {
  display: flex;
}
.list {
  width: 90%;
  margin-left: 1.5rem;
  margin-top: -0.5rem;
  font-size: 0.65rem;
}
.list--items {
  margin-bottom: 0.2rem;
}
/** Custom Classes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.1rem;
}
.term__conditions {
  font-weight: normal;
  margin-left: 1rem;
  margin-top: 1rem;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
  text-decoration-skip-ink: none;
}

@media (min-width: 400px) {
  .list {
    width: 90%;
    font-size: 0.7rem;
  }
  .list--items {
    margin-bottom: 0.6rem;
  }
}
/*** For tablet designs range upto 768 */
@media (min-width: 600px) {
  .container {
    gap: 1rem;
    margin-top: 0rem;
  }
  .list {
    width: 95%;
    font-size: 0.875rem;
  }
  .list--items {
    margin-bottom: 0.8rem;
  }
}
