@font-face {
  font-family: "SpeedeeCondGreek";
  src: url("../Fonts/SpeedeeCondGreek-Bold.otf") format("opentype"),
    url("../Fonts/SpeedeeCondGreek-Regular.otf") format("opentype"),
    url("../Fonts/SpeedeeGreek-Bold.otf") format("opentype");
}
:root {
  --default-font-family: "SpeedeeCondGreek", sans-serif;
  --primary-color: #000;
  --Secondary-color: #fff;
}
/**CSS RESET**/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../Assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--default-font-family);
  font-size: 1rem;

  /* overflow: hidden; */
}

img {
  max-width: 100%;
}
a {
  all: unset;
}
button {
  border: 1px solid transparent;
  border-radius: 11.5px;
  padding: 0.4rem 2rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Custom Classes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.logo {
  width: 67%;
}
.rules {
  text-align: center;
  width: 70%;
  font-size: 1.4rem;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 0.5rem 0.5rem;
  margin-inline: 1rem 1rem;
}
.description {
  font-size: 1rem;
  width: 100%;
  border: 1px solid white;
  background-color: var(--Secondary-color);
  padding: 0.5rem 2rem;
}
.selected-option {
  text-decoration-line: underline;
  text-decoration-color: #fcb41a;
  text-decoration-thickness: 0.12rem;
  text-decoration-skip-ink: none;

  display: inline-flex;
  vertical-align: middle;
}
/** For Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border-radius: 11.5px;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
}
.dropdown-icon {
  width: 16%;
  display: inline-flex;
  vertical-align: middle;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -0.7rem;
}

.dropdown-content a {
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fcb41a;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/**For form**/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 1rem 1rem;
}
.input {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}
.input:focus {
  outline: none;
}
.trademark {
  width: 29%;
  display: inline-flex;
  vertical-align: middle;
}
.btn {
  background-color: var(--Secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.terms--conditions {
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}

@media (min-width: 400px) {
  .logo {
    width: 60%;
  }
  .rules {
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
  }
  .trademark {
    width: 25%;
    display: inline-flex;
    vertical-align: middle;
  }
  .box {
    padding: 0.5rem 0.5rem;
    margin-inline: 1rem 0.5rem;
  }
  .description {
    font-size: 1rem;
    width: 100%;
    border: 1px solid white;
    background-color: var(--Secondary-color);
    padding: 0.5rem 2rem;
  }
  .terms--conditions {
    font-size: 0.9rem;
  }
}
/*** For tablet designs range upto 768 */
@media (min-width: 600px) {
  .container {
    gap: 1rem;
    margin-top: 0rem;
  }
  .logo {
    width: 40%;
  }

  .btn {
    font-size: 1.1rem;
  }

  .rules {
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
  }
  .trademark {
    width: 15%;
    display: inline-flex;
    vertical-align: middle;
  }
  .box {
    padding: 0.6rem 0.6rem;
    margin-inline: 14rem 14rem;
  }
  .description {
    font-size: 1rem;
    width: 100%;
    border: 1px solid white;
    background-color: var(--Secondary-color);
    padding: 0.5rem 2rem;
  }
  .terms--conditions {
    font-size: 1rem;
  }
}
